<!-- <h1>Puppies#index</h1>
<p>Find me in app/views/puppies/index.html.erb</p> -->
<h1>ALL O' THE PUPPIES YES!</h1>

<% @puppies.each do |puppy|  %>
<h2>
  <%= puppy.name %>, <%= puppy.age  %>, <%= puppy.breed  %>
  <a href="/puppies/<%= puppy.id  %>">Inspect Your Puppy</a>
  <a href="/puppies/<%= puppy.id  %>/edit">Edit The Puppy</a>
</h2>
<% end  %>

<!-- <%=  link_to %> -->

<a href="/puppies/new">PRODUCE PUPPY</a>